In [6]:
import numpy as np
import pandas as pd

In [7]:
ser=pd.Series(np.random.randint(1,10,35))
ser

0     1
1     9
2     4
3     7
4     8
5     2
6     6
7     6
8     9
9     8
10    3
11    3
12    1
13    6
14    6
15    4
16    2
17    8
18    3
19    3
20    5
21    7
22    7
23    6
24    2
25    9
26    2
27    8
28    2
29    2
30    8
31    1
32    9
33    1
34    6
dtype: int32

phần 1:

-np.random.randint(1,10,7): là 1 hàm của numpy dùng để tạo ra 1 mảng các số nguyên ngẫu nhiên
+1:giá trị bắt đầu của khoảng 
+10: giá trị kết thúc của khoảng 
+7: số lượng số nguyên ngẫu nhiên cần tạo
+kết quả sẽ là 1 mảng gồm 7 số nguyên ngẫu nhiên tr khoảng từ 1 đến 9
-pd.Series(): là 1 hàm của pandas để tạo ra chuỗi dữ liệu

phần 2:

In [9]:
df=ser.values.reshape(7,5)
df=pd.DataFrame(df,columns=[f"Giá trị {i+1}" for i in range(5)])
df

   Giá trị 1  Giá trị 2  Giá trị 3  Giá trị 4  Giá trị 5
0          1          9          4          7          8
1          2          6          6          9          8
2          3          3          1          6          6
3          4          2          8          3          3
4          5          7          7          6          2
5          9          2          8          2          2
6          8          1          9          1          6